:root {
  --ds-color-1: #e5e5e5;
  --ds-color-2: #050505;
  --ds-color-3: #fff;
  --ds-font-1: "Geist", sans-serif;
  --ds-font-2: "Playfair Display", sans-serif;
  --ds-font-3: "Space Grotesk", sans-serif;
}
